<html>
  <head>
    <meta charset= "utf8">
    <title>連絡帳</title>
    <link rel= "stylesheet" href="/style.css">
  </head>
  <body>
    <h1>これば</h1>
    <p>今の時刻は<%= @now %></p>
    <footer>
      <a href="about.html">このサービスについて</a>
    </footer>
  </body>
</html>